services:
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_NAME: ${MONGO_INITDB_NAME}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_KEY_PATH: ${MONGO_KEY_PATH}
      MONGO_BIND_IP: ${MONGO_BIND_IP}
      MONGO_DB_PATH: ${MONGO_DB_PATH}
    networks:
      default_network:
        ipv4_address: ${IP_MONGO}
    volumes:
      - mongo-db:/data/db/
      - ../packages/${ALIAS}/bin/:/scripts/
      - ../packages/${ALIAS}/configs/mongo/:/configs/mongo/
    entrypoint: /scripts/mongo.sh
    ports:
      - ${PORT_MONGO}:27017 # Expose DB for host