services:
  wireguard:
    image: linuxserver/wireguard
    restart: always
    networks:
      default_network:
        ipv4_address: ${IP_WIREGUARD}
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIME_ZONE}
      - SERVERURL=${WIREGUARD_SERVERURL}
      - PEERS=${WIREGUARD_PEERS}
      - ALLOWEDIPS=${WIREGUARD_ALLOWEDIPS}
      - PEERDNS=${WIREGUARD_PEERDNS}
      - INTERNAL_SUBNET=${WIREGUARD_INTERNAL_SUBNET}
    volumes:
      - ../packages/${ALIAS}/configs/wireguard/config:/config
      - /lib/modules:/lib/modules
    ports:
      - ${PORT_WIREGUARD}:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1